In [1]:
import pandas

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
df = pandas.read_csv("/content/drive/MyDrive/100 day challenge/day 57/supermarkets.csv")
df

   ID          Address           City  ... Country         Name Employees
0   1     3666 21st St  San Francisco  ...     USA      Madeira         8
1   2   735 Dolores St  San Francisco  ...     USA  Bready Shop        15
2   3      332 Hill St  San Francisco  ...     USA  Super River        25
3   4     3995 23rd St  San Francisco  ...     USA   Ben's Shop        10
4   5  1056 Sanchez St  San Francisco  ...     USA      Sanchez        12
5   6  551 Alvarado St  San Francisco  ...     USA   Richvalley        20

[6 rows x 7 columns]

In [5]:
df1 = pandas.read_json("/content/drive/MyDrive/100 day challenge/day 57/supermarkets.json")
df1

   ID          Address           City  ... Country         Name Employees
0   1     3666 21st St  San Francisco  ...     USA      Madeira         8
1   2   735 Dolores St  San Francisco  ...     USA  Bready Shop        15
2   3      332 Hill St  San Francisco  ...     USA  Super River        25
3   4     3995 23rd St  San Francisco  ...     USA   Ben's Shop        10
4   5  1056 Sanchez St  San Francisco  ...     USA      Sanchez        12
5   6  551 Alvarado St  San Francisco  ...     USA   Richvalley        20

[6 rows x 7 columns]

In [8]:
df2 = pandas.read_excel("/content/drive/MyDrive/100 day challenge/day 57/supermarkets.xlsx")
df2

   ID          Address  ... Supermarket Name Number of Employees
0   1     3666 21st St  ...          Madeira                   8
1   2   735 Dolores St  ...      Bready Shop                  15
2   3      332 Hill St  ...      Super River                  25
3   4     3995 23rd St  ...       Ben's Shop                  10
4   5  1056 Sanchez St  ...          Sanchez                  12
5   6  551 Alvarado St  ...       Richvalley                  20

[6 rows x 7 columns]

In [9]:
df3 = pandas.read_csv("/content/drive/MyDrive/100 day challenge/day 57/supermarkets-semi-colons.txt",sep=";")
df3

   ID          Address           City  ... Country          Name Employees
0   1     3666 21st St  San Francisco  ...     USA       Madeira         8
1   2   735 Dolores St  San Francisco  ...     USA   Bready Shop        15
2   3      332 Hill St  San Francisco  ...     USA   Super River        25
3   4     3995 23rd St  San Francisco  ...     USA    Ben's Shop        10
4   5  1056 Sanchez St  San Francisco  ...     USA       Sanchez        12
5   6  551 Alvarado St  San Francisco  ...     USA    Richvalley        20

[6 rows x 7 columns]